<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Saber más</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="large text-muted">
                      Hemos observado, al igual que tú, que en la sociedad en la que vivimos se está
                      produciendo un distanciamiento bastante acusado entre generaciones. Este
                      conflicto siempre ha existido entre padres e hijos, pero parece que en la
                      actualidad esta brecha se hace más grande debido a múltiples factores como la
                      falta de comunicación en las familias, la difícil conciliación entre vida
                      familiar y laboral, la introducción de las nuevas tecnologías, los distintos
                      roles que nuestro entorno nos impone, etc.<br /><br />

                      En Hermana Mayor pensamos que todo <strong>resultado</strong> es consecuencia
                      directa de una <strong>causa</strong> que, probablemente aún esté por descubrir.
                      Parte de nuestro trabajo consiste en ir a la raíz del problema, mediante el
                      estudio de cada caso a través del diálogo, indagando más profundamente en las
                      causas que han llevado a la situación actual a cada persona para crear un
                      <strong>plan de acción personalizado</strong> con el fin de alcanzar un
                      <strong>equilibrio</strong> en las relaciones familiares. Esto inmediatamente
                      genera una mayor salubridad en dicha relación que comenzará a ser cada vez más
                      fructífera y fluida en todos los aspectos de la vida.<br /><br />

                      Resulta impactante contemplar cómo pequeños ajustes llevan a una <strong>relación
                      familiar plena</strong> en la que todo lo demás empieza a fluir. Nuestro objetivo
                      es que los hijos se hagan responsables de sus propias vidas y que los padres tan sólo
                      tengan como labor el acompañarles cada día en ese bonito viaje.<br /><br />

                      Por ello, nuestros servicios no sólo incluyen apoyo al estudio, sino que
                      marcamos la diferencia ofreciendo un <strong>servicio integral y holístico</strong>,
                      basado en la persona, sus circunstancias y su entorno. Consideramos que el (des)interés
                      por los estudios de muchos alumnos hoy en día es fruto de varios componentes
                      que es necesario descifrar y evaluar correctamente.<br /><br />

                      A su vez, ofrecemos soporte a las familias para que se sientan apoyadas en todo
                      momento y dejen de sentir que se encuentran solos en este proceso de
                      crecimiento.<br /><br />
                    </p>
                </div>
            </div>
        </div>
    </section>
